@import './service-card';
@import './service-card-container';
@import './service-box';

.app-dev-service-page {
	display: flex;
	flex: 1;
	flex-direction: column;

	min-height: 100vh;
	align-items: center;
	justify-content: space-evenly;
}
