.service-card {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	min-height: 300px;
	min-width: 200px;
	text-align: center;
	background-color: rgba(white, 0.2);
	box-shadow: 0 0 8px rgba(black, 0.1);

	h4 {
	}

	p {
		margin: 0;
	}
}
