.home-top-background {
	flex: 1;
	background: linear-gradient(
			1.32deg,
			#68c6df -50.57%,
			rgba(147, 214, 232, 0.7151) 17.62%,
			rgba(192, 231, 242, 0.415205) 51.12%,
			rgba(229, 245, 249, 0.173889) 94.68%,
			rgba(255, 255, 255, 0) 134%
		),
		#6991de;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
