@import './corevalues';
@import './buttonvalue';
@import './valueboxcontent';
@import './valuesinglebutton';

.value-box-layout {
	padding: 5%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	//box-sizing: border-box;
	// background: linear-gradient(
	// 		308.21deg,
	// 		#68c6df 7.13%,
	// 		rgba(147, 214, 232, 0.7151) 47.81%,
	// 		rgba(192, 231, 242, 0.415205) 67.8%,
	// 		rgba(229, 245, 249, 0.173889) 93.79%,
	// 		rgba(255, 255, 255, 0) 117.24%
	// 	),
	// 	#6991de;

	@media only screen and (max-width: $medium-screen) {
		flex-direction: column;
		padding: 2%;
	}
}

.value-box-image {
	display: flex;
	flex: 5;
	margin: 5%;
}

.value-button-container {
	display: flex;
	flex-direction: column;
	min-width: 200px;
}
