.nav-item {
	padding: 10;
	margin-right: 1.5rem;
	padding: 0.5rem;
	color: white;
	transition: 0.3s;
	text-decoration-line: none;
	cursor: pointer;

	&:hover {
		background-color: white;
		border-radius: 4px;
		color: black;
		text-decoration-line: none;
		cursor: pointer;
	}

	a {
		padding-right: 1rem;
		padding-left: 1rem;
		color: inherit;
		text-decoration-line: none;

		&:hover {
			color: inherit;
			text-decoration-line: none;
		}
	}
}
